* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Verdana, Arial, san-serif;
    font-size: 12px;
}

body {
    /*background-color: #3F2F22;*/
    text-align: justify;
}

#top {
    
}

#header {
    
}

#mainmenu {
}

#mainmenu ul {

}

#mainmenu ul li {
    list-style: none;
}

#mainmenu ul li a {

}

#mainmenu ul li.active {

}

#mainmenu ul li.active a {

}

a, a:visited {
    text-decoration: none;
}

#footer {
    text-align: center;
}