* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Helvetica, Verdana, Arial, san-serif;
}

body {
    font-size: 12px;
    color: #000;
    text-align: justify;
    background: transparent url(../images/base/paperbgnew.jpg) repeat;
}

#top {

}

#header {
    clear: both;
}

#header h1 {
}

#header h1 a, #header h1 a:visited, #header h1 a:hover {
}

#header span {
    font-size: 10px;
}

#mainmenu {
}

#mainmenu ul {
    display: block;
    float: right;
    margin-right: 2em;
    list-style: none;
}

#mainmenu li {
    display: inline;
    float: left;  
}

#mainmenu li a {
    height: 40px;
    line-height: 40px;
    display: block;
    padding: 0 2em 0 2em;
    float: left;
    color: #000;
}

#mainmenu li a:hover {
    text-decoration: none;
    color: white;
    background-color: #222; 

}

#mainmenu ul li.active {

}

#mainmenu ul li.active a {

}

a, a:visited {
    text-decoration: none;
    color: #000;
}

#footer {
    text-align: center;
}

.clear{
    clear: both;
}

.text {
    border: 1px solid #333333;
    padding:0.3em;
}

fieldset {
    border: 1px solid #333333; 
}

form {
    margin: 12px;
}

ul {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

#administration, #site, #forum, #game {
    margin: 0.5em auto;
    width: 960px;   
}

input, textarea, select {
    padding: 0.3em;
    border: solid 1px #cccccc;
}

button {
    background-color: transparent;
}