#thtitle {
    background-color:grey;
    width:100%;
}

#postframe {

}

#userol {
    float:left;
    width:25%;
    height:175px;
    background-color:darkgrey;
    text-align:center;
}

#userimg {
    border:2px solid black;
    width:50%;
    height:80%;
    margin:12px 25% 0 25%;
}
#useril {

}

#post {
    float:right;
    width:75%;
    height:175px;
    background-color:lightgrey;
}

#reply {
    text-align:center;
}

#reply textarea {
    width:500px;
    height:50px;
    border:1px solid black;
}

#reply input{
    border:1px solid black;
}
.board{
    background-color:lightgrey;
    width:100%;
}

h2 {
    background-color: darkgrey;
    float: left;
    width: 20%;
}
.boardContent{
    background-color: lightgray;
    width:50%;
}
.tc {
    width: 10%;
    background-color: darkgray;
    text-align: right;
    float: left;
    height: 22px;
}