#create-char {
    
}

#create-char form input {
float: right;
margin-right: 2em;
padding: 0;

}

label{
}
.widget-left {
    float: left;
    width: 15%;
}
.ui-slider {
    width: 40%;
    float: left;
}