#site {
    background-color: gray;
}

#content {

}

#content h2 {
    font-size: 50px;
}
#content h3 {
    font-size: 35px;
}

#about {
    background-color: pink;
}

#news {
    height: 600px;
    width: 50%;
    background-color: red;
    float: left;
}

#random {
    height: 600px;
    width: 50%;
    background-color: blue;
    float: left;
}
