#site {
}

#content {
}

#content h2 {
}
#content h3 {
}

#about {
    background-color: pink;
}

#news {
    min-height: 350px;
    width: 50%;
    float: left;
    background-color: red;
}

#random {
    min-height: 350px;
    width: 50%;
    float: left;
    background-color: blue;
}

#general-settings {
    
}

#email{
    
}

#name{
    
}

#pw{
    
}

#pw2{
    
}

#pw3{
    
}

#forum-settings {
    
}

#avatar{
    
}

#signature{
    
}

#post-count{
    
}

#character-list {
    
}

#list-row{
    
}

.char-name{
    
}

.char-level{
    
}